.App {
	text-align: center;
}

.App-header {
	background-color: #3a3a3a;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
}

.App-link {
	background-color: #0077B5;
	color: #61dafb;
}
